"use strict";

angular.module('<%= namespaced_name %>').service('<%= name %>', [
  'state',
  'configurator',
  function(state, configurator) {
    var self = this;

    function configure() {
      configurator.getConfAndDelegate('<%= name %>', self);
    }

    configure();

    this.init = function() {
      configure();
    };
  }
]);
