"use strict";

angular.module('<%= namespaced_name(true) %>').service('<%= name(true) %>', [
  'state',
  'configurator',
  function(state, configurator) {
    var self = this;
    this.name = '<%= name(true) %>';

    this.defaultConf = {
      template: 'templates/<%= namespaced_name %>/<%= name %>.html'
    };

    function configure() {
      configurator.getConfAndDelegate(self);
    }

    this.init = function() {
      configure();
    };
  }
]);
